.wrapper{
  height:100vh;
  width: 100vw;
  background-image: url(../assets/img/landingBackground.gif);
  background-blend-mode: darken;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.336);  
}
.form-body{
    text-align: center;
}
.Landing-logo {
    text-align: center;
    width: 300px;
    margin-left: 80px;
}

.centered-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.title{
    
    font-size: var(--font-XL);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;     
    
    margin-bottom: 30px;
}

.auth-buttons-container{
    
    position: absolute;
    left:0;
    width: 100%;
    bottom: 18%;
    width: 100vw;
    display: flex;
    justify-content: center; 
    
}
/** media queries tablets  */
@media screen and (min-width: 800px) {
    .auth-buttons-container{
        bottom: 27%;

    }


}

/** media queries laptops  */
@media screen and (min-width: 1200px) {
 

}



.auth-buttons-wrapper{
       width:max-content;


}

