.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 8%;
  top: 50px;

}
 /** media queries tablets  */
 @media screen and (min-width: 800px) {
  .bm-burger-button{
      
     
  }


}

/** media queries laptops  */
@media screen and (min-width: 1200px) {
  .bm-burger-button{
      
      
  }
}





/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0 ;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */

  color: grey;
}

/*   /* Menu item including icon */
.menu-item {
  align-self: flex-start; 
  margin:15px 0;
  /* gap: 20px; */
}

.menu-item-text{
    margin-left: 10px;
    margin-bottom: 10px;
}

.menu-item-text:hover{
    color: rgb(211, 210, 210);
}

.bm-menu-wrap img {
margin-bottom: -5px ;
}





.burger-footer{

position: absolute;
bottom: 3vh;
left: 0;

display: flex;
justify-content: space-around;

width: 100%;
margin: 0;
padding: 0;


}
.burger-footer img{
  
  margin: 0;
 
  
  
  }



