
a {
    color: inherit;
}

.footer{
    position:fixed;

   
    
    bottom:-2px;
 
    width: 100vw;    
   
    display: grid;
    align-items: center;
 
    z-index: 2;
       
    
    padding:0;
 }




/* the circle under the button*/


.footer-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
    text-align: center;
    background-image: var(--color-footer-structure);
    
    font-size: 15px;    
    height: var(--footer-height) ;
    width: 90%;
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
     
    align-content: center;

    border-radius: 15px 15px 0 0 ;

    box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.021) ;
    z-index: -11;
}

 /** media queries tablets  */
 @media screen and (min-width: 800px) {
    .footer-container{
        
        max-width: 830px;
    }


}

/** media queries laptops  */
@media screen and (min-width: 1200px) {
    .footer-container{
        
        max-width: 1230px;
    }
}


.footer-shape{
    position: absolute;

    background-image: var(--color-footer-structure);
    height:calc(var(--footer-height) + 1px );
    width: calc(var(--footer-height) + 17px);
   
    bottom:20px ;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
    box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.021) ;

    z-index: -10
    ;
}
.item {
    background-color: transparent;
    border:0;
    cursor: pointer;
    color: white;
    font-size: 20px;  
   
}

.item:hover {
    color: #000000;
    transition: 0.4s;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .item {
        font-size: 25px;
    }
}

