.nav-container {
   height: var(--header-height);
  display: flex;
  align-items: center;
  

  padding-top: 10px;
  margin-left: 60px;
  
  z-index: 1;
}

nav {
  
  width: 100%;
  display: grid;

  align-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

nav h3 strong{
   
  position: absolute;
  top:35px;
  left: 44%;
 transform: translateX(-50%);
}

/** media queries tablets  */
@media screen and (min-width: 800px) {
  nav h3 strong{
  left: 50%;
  }
}



.nav-menu {
  color: white;
  display: flex;
  justify-content: center;
}

.nav-dropdown {
  background-color: var(--color-background-menu);
  color: var(--color-text-menu);
  font-size: var(--font-dropdown-menu);
  display: flex;
  flex-direction: column;
}
.nav-link {
  margin: 0px 3px;
}

.nav-item {
  list-style-type: none;
  margin: 0 2px;
}

#nav-main-title {

  text-align: center;
  font-size: var(--font-XS);
  font-family: var(--font-classy);
  color: white;
}
#nav-main-title strong {
  font-weight: 600;
  font-size: var(--font-L);
}


/** media queries tablets  */
@media screen and (min-width: 800px) {
  


}

/** media queries laptops  */
@media screen and (min-width: 1200px) {
 

}
