
/* style imports*/ 
@import url("_structure.css");
@import url("_layout.css");
@import url("_buttons.css");
@import url("_user_meta.css");
@import url("_winner_voting.css");
@import url("_vote_component.css");
@import url("_discoverpage.css");
@import url("_profilepage.css");
@import url("_popover.css");
@import url("_card.css");
@import url("_profilecard.css");
@import url("_nav.css");
@import url("_AuthPage.css");
@import url("_burger.css");
@import url("_footer.css");
@import url("_overlay.css");
@import url("_header.css");
@import url("_test.css");
@import url("_toggle.css");
@import url("_fetchstatus.css");
@import url("_btn-glow.css");
@import url("_countdown.css");
@import url("_card_drawer.css");

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Source+Code+Pro:wght@200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* variables*/ 
:root {
    --header-height: 110px;
    --footer-height: 60px;
    
      /*colors*/
    --lagoonBlue: rgb(130, 221, 228);
    --deepBlue: rgb(50, 167, 173);

    --lemonYellow: rgb(247, 245, 176);
    --gradientYellow : linear-gradient(0deg, rgba(254,212,40,1) 100%, rgba(255,255,255,1) 100%);

    --color-background-menu:white;
    --color-text-menu:grey;

    --color-footer-structure:linear-gradient(to right, rgb(223, 223, 223), #d6d6d6);;
  
      /*fonts type*/
    --font-funny : 'Bangers', cursive;
    --font-classy : 'Ubuntu', sans-serif ; 
    --font-code : 'Source Code Pro', monospace;
    
    /*font-size*/
    --font-XS:15px;
    --font-S:20px;
    --font-M:25px;
    --font-L:30px;
    --font-XL:40px;
    
   
    --font-dropdown-menu:20px;

    /*spaces*/

    --bigspace:60px;
    --mediumspace:30px;
    --smallspace:10px;

   

  
  }